<div class="col-md-6">
    <h2 class="text-center">Registrese</h2>
    <form  [formGroup]="addform" #f="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">

        <label for="nickname">Nickname</label>
        <input [(ngModel)]="user.nickname" type="nickname" formControlName="nickname" placeholder="nickname" name="nickname" class="form-control" id="nickname">

         <label for="status">Status</label>
          <input [(ngModel)]="user.status" type="status" formControlName="status" placeholder="status" name="status" class="form-control" id="status">
              
      </div>
    
      <button class="btn btn-success" (click)="createUser()">Registrar</button>
    </form>
  </div>